/* 
    Created on : Oct 2, 2021, 11:19:20 AM
    Author     : Yap Zhen Yie
*/

/*
  jQuery Validate error message
*/
.error {
    color: red;
}

.required:after {
    content: '*';
    color: red;
    padding-left: 4px;
}

.select-icon {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.z-hide {
    display: none;
}

.v-noscript {
    background-color: #FF5733;
    color: white;
    padding: 15px 5px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.wrapper .main-content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding-top: 60px;
}

.wrapper .main-content .content {
    min-height: calc(100vh - 60px);
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.v-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 16px 1.85rem;
    border-radius: 8px;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    font-weight: bold;
    color: white;
    word-break: break-all;
}

.v-card.color-1 {
    background-color: #5CB85C;
}

.v-card.color-2 {
    background-color: red;
}

.v-card.color-3 {
    background-color: dodgerblue;
}

.v-card i {
    font-size: 3.5rem;
}

.v-card .v-card-details {
    padding-left: 8px;
    text-align: end;
}

.v-card .v-card-details .v-card-description {
    font-size: 2.15rem;
    text-align: end;
    word-break: break-word;
}

.v-card .v-card-details .v-card-value {
    font-size: 2rem;
    text-align: end;
}

.v-profile {
}

.v-profile-navbar {
    display: flex; 
    flex: 1;
}

.v-profile-navbar ul {

}

.v-profile-navbar ul li:first-child {
    padding-bottom: 2px;
}

.v-profile-navbar ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.v-profile-navbar ul li a {
    display: flex;
    padding: 10px 1rem;
    border-radius: 8px;
    color: rgba(0,0,0,0.65);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.v-profile-navbar ul li a.active {
    font-weight: bold;
    color: rgba(0,0,0,0.85);
    background-color: rgba(121,82,179,0.1);
}

.v-profile-navbar ul li a:hover {
    color: rgba(0,0,0,0.85);
    background-color: rgba(121,82,179,0.1);
}

.v-profile-content {
    display: flex;
    flex: 4;
}

.v-fieldset-appointment {
    padding: .35rem .75rem .626rem .75rem;
    border: 2px groove threedface;
    border-radius: .25rem;
}

.v-fieldset-appointment .v-fieldset-legend {
    width: auto;
    max-width: none;
    padding: 0 6px;
    font-size: 1.25rem;
}

@media screen and (max-width: 991px) {
    .v-profile {
        flex-direction: column;
    }
}
