/* 
    Created on : Oct 8, 2021, 2:50:12 PM
    Author     : Yap Zhen Yie
*/

.container-navbar {
    display: flex;
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 .75rem;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 6px 2px rgb(0 0 0 / 12%);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    z-index: 1030;
}

.container-navbar .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-navbar .brand .navbar-toggle-button-container {
    padding-left: 5px;
    padding-right: 16px;
}

.container-navbar .brand .navbar-toggle-button {
    background-color: transparent;
    width: 46px;
    padding: 2px .5rem;
    font-size: 1.75rem;
    color: #495057;
    border: 0;
}

.container-navbar .brand .navbar-toggle-button:hover {
    background-color: rgb(0 0 0 / 0.12);
    border-radius: 50%;
}

.container-navbar .brand .brand-logo {
    display: flex;
    padding: 2px 1rem;
    justify-content: center;
    align-items: center;
}

.container-navbar .brand .brand-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.container-navbar .brand .brand-logo a:hover {
    background: rgb(201 187 187 / 25%);
    text-decoration: none;
    outline: 1px solid rgb(101 92 92);
}

.container-navbar .brand .brand-logo h1 {
    margin: 0;
    padding: 0 .5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
}

.container-navbar .tools {

}